@media (max-width: 30.63em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 26.6em) {
  .rate {
    width: 5rem;
    height: 5rem;
  }
}

@media (max-width: 24.5em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 21.25em) {
  html {
    font-size: 46%;
  }
}
